<app-layout>
    <div class="main">
        <section class="page-banner d-grid place-items-center">
            <h1 class="display-3 text-center">About Vanavihari</h1>
        </section>
        <section class="my-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <!-- about us content -->
                        <p>
                            Vanavihari is an initiative of the Government of Andhra Pradesh through its Forest
                            Department and is owned by the Andhra Pradesh Forest Department, maintained by CBET,
                            Maredumilli.
                            Vana Vihari is initiated by the Andhra Pradesh Forest Department, by the forest policies of
                            both the state and the union government of India.
                            Its purpose is to provide financial benefits and empowerment to local communities, promote
                            responsible tourism to natural areas, and create a sustainable, equitable, community-based
                            endeavour to improve the living standards of indigenous host communities.
                            The goal is also to instil the essence of conservation of wild resources among the general
                            public while offering the best possible experience to nature-loving tourists.
                        </p>

                        <p>
                            Thus, Community-Based Eco-Tourism under the name of Vana Vihari is formed to allow the
                            general public to enjoy nature, with a plan to instil the essence of conservation of wild
                            resources among them.
                            Vana Vihari is the brand name of CBET Maredumilli. Essentially, CBET Maredumilli was formed
                            by selecting some members from Somireddypalem VSS, who were then trained in the basics of
                            the hospitality industry.
                            The CBET micro plan is approved by the Divisional Forest Officer, Kakinada, and sent to
                            PCCF(Hoff) Andhra Pradesh for the sanction of funds.
                        </p>

                        <p>
                            A 15-member management committee is formed with 50% women representation.
                            The accounts will be maintained by the management committee under a joint account opened in
                            the name of the chairman of the management committee and the Forest Section Officer
                            concerned, who is the Member Secretary of the committee.
                            After attaining the sustainable stage or completion of 5 years of successful operation, 50%
                            of the revenue realized should be kept in a joint account opened in the name of CBET and the
                            Forest Department, to be utilized for the development of the ecosystem.
                            The remaining 50% is to be kept in the CBET account and utilized as decided by the general
                            body of the CBET.
                        </p>

                    </div>
                </div>
            </div>
        </section>

        <section class="our-approach">

        </section>
    </div>
</app-layout>