<app-layout>
    <div class="main">
        <section class="page-banner d-grid place-items-center">
            <h1 class="display-3 text-center">Our tribal community</h1>
        </section>
        <section class="my-5 py-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mt-5">
                        <h2>Tribal Community</h2>
                        <!-- masonry gallery static 10 images-->
                        <div class="grid-wrapper d-lg-grid">
                            <div>
                                <img src="/assets/img/tribal/1.jpg" alt="tribal image 1" />
                            </div>
                            <div>
                                <img src="/assets/img/tribal/2.jpg" alt="tribal image 2" />
                            </div>
                            <div class="tall">
                                <img src="/assets/img/tribal/3.jpg" alt="tribal image 3">
                            </div>
                            <div class="wide">
                                <img src="/assets/img/tribal/4.jpg" alt="tribal image 4" />
                            </div>
                            <div class="wide">
                                <img src="/assets/img/tribal/5.jpg" alt="tribal image 5" />
                            </div>
                            <div class="tall">
                                <img src="/assets/img/tribal/6.jpg" alt="tribal image 6" />
                            </div>
                            <div class="big">
                                <img src="/assets/img/tribal/7.jpg" alt="tribal image 7" />
                            </div>
                            <div class="tall">
                                <img src="/assets/img/tribal/8.jpg" alt="tribal image 8" />
                            </div>
                            <div class="wide">
                                <img src="/assets/img/tribal/10.jpg" alt="tribal image 9" />
                            </div>
    
                        </div>
                    </div>
                    <div class="col-lg-4 mt-5">
                        <h2>
                            <!-- Konda reddy tribals -->Konda Reddi
                        </h2>
                        <p>
                            <!-- 3 lines -->
                            Konda Reddis inhabit the banks on either side of the Godavari River in the hilly and forested regions of East and West Godavari, and Khammam districts of Andhra Pradesh. Their mother tongue is Telugu.
    
                        </p>
                        <h2>
                            <!-- Valmiki tribals -->Valmiki
                        </h2>
                        <p>
                            <!-- 3 lines -->
                            Valmikis living in the Agency tracts of Andhra Pradesh are the only group recognized as Scheduled Tribes, primarily found in the agency areas of Visakhapatnam and East Godavari districts. Claiming descent from the sage Valmiki, the author of the Ramayana, the Valmiki tribe is divided into various 'gotrams' to regulate marriage institutions in Visakhapatnam tribal areas.
    
    
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</app-layout>