.page-banner {
  background-image: url('/assets/img/home-gallery/vanavihari-home-gallery-1.jpg');
}
.reservation-details {
    font-family: Arial, sans-serif;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .bold {
    font-weight: bold;
  }
  
  h2 {
    color: #333;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  