.modal-dialog {
  padding: 20px;
  width: 600px;
}
.modal-body {
  height: 500px;
  overflow: auto;
  padding: 20px 0px;
}
.modal-footer {
  padding: 10px 0px;
  gap: 10px;
}
@media screen and (max-width: 768px) {
  .modal-body {
    height: 317px;
    overflow: auto;
  }
  .modal-dialog-scrollable {
    width: 100% !important;
    text-align: justify;
  }
  li {
    line-height: 1.6;
  }
}
li {
  line-height: 1.8;
}
