<app-layout>
  <div class="main">
    <section class="page-banner d-grid place-items-center">
      <h1 class="display-3 text-center">Vanavihari, Maredumilli</h1>
    </section>

    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <!-- <li class="breadcrumb-item"><a href="#">Resorts</a></li> -->
          <li class="breadcrumb-item active" aria-current="page">
            Vanavihari, Maredumilli
          </li>
        </ol>
      </nav>
      <div class="row">
        <div class="col-md-4">
          <div class="map-container">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15212.133581651236!2d81.712357!3d17.601149!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a373b5d52758873%3A0x718f2b2059db5e0a!2sVanavihari%20Maredumilli!5e0!3m2!1sen!2sin!4v1708738599849!5m2!1sen!2sin"
              width="400" height="300" style="border: 0" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
        <div class="col-md-8 mt-4 mt-lg-0">
          <h4>About Vanavihari, Maredumilli</h4>
          <p>
            Vanavihari resort, situated in the serene landscapes of Maredumilli,
            beckons eco-tourism aficionados with its abundance of bamboo trees.
            This guesthouse, committed to community well-being, offers a serene
            retreat amidst natural surroundings. With its snug cottages and
            rooms, it conveniently lies close to Amruthathara Waterfalls,
            promising guests a peaceful ambiance. Nearby street food eateries
            present the opportunity to savor the distinctive flavor of bamboo
            biriyani. Stepping out for a night or morning stroll unveils a
            heavenly experience for visitors.
          </p>
        </div>
      </div>

      <div class="policy-section row">
        <div class="col-sm-12 col-lg-4">
          <h4 class="custom-h4">Guest Policies & Rates
          </h4>
          <ul>
            <li> <strong>Occupancy:</strong> 2 guests (1 extra allowed)
            </li>
            <li> <strong>Amenities:</strong> AC, geyser, western toilet, Prices exclude 12% GST.

            </li>
          </ul>
        </div>
        <div class="col-sm-12 col-lg-4">
          <h4 class="custom-h4">Cancellation

          </h4>
          <ul>
            <li> <strong>

                48-72 hours before:</strong> 90% refund
            </li>
            <li> <strong> 24-48 hours before:</strong> 80% refund
            </li>
            <li> <strong>

                Within 24 hours:</strong> No refund
            </li>
          </ul>
        </div>
        <div class="col-sm-12 col-lg-4">
          <h4 class="custom-h4">Check-In/Out:

          </h4>
          <ul>
            <li> <strong>Check-in:</strong> 10:00 AM IST
            </li>
            <li> <strong>

                Check-out:</strong> 9:00 AM IST

            </li>
            <li>
              Early/late fees may apply (subject to availability)

            </li>
          </ul>
        </div>
      </div>
      <h2 class="text-center mb-4">Modify Search</h2>
      <!-- section for search bar - with inputs given in home page search, and user can modify -->
      <app-search-resort></app-search-resort>
      <!-- rooms listing section -->
      <div class="row mt-5">
        <aside class="col-sm-5 col-md-3 h-100"
          [ngClass]="(isMobile == false) ? 'position-sticky' : 'position-sticky-for-mobile'">
          <!-- <section class="position-sticky"> -->
          <div class="sort rounded-3 p-3 d-none">
            <h4>Cottage Type</h4>
            <mat-checkbox id="hilltop">Hilltop Guest House</mat-checkbox><br>
            <mat-checkbox id="pre-fabricated">Pre-Fabricated Cottages</mat-checkbox><br>
            <mat-checkbox id="wooden">Wooden Cottages</mat-checkbox><br>
            <mat-checkbox id="deluxe">Deluxe Rooms</mat-checkbox><br>
            <mat-checkbox id="tented">Tented Cottages</mat-checkbox><br><br><br>
            <mat-form-field>
              <mat-label>Sort by Price</mat-label>
              <mat-select [(value)]="selectedSortOption" name="priceSort">
                <mat-option value="lowToHigh">Low to High</mat-option>
                <mat-option value="highToLow">High to Low</mat-option>
              </mat-select>
            </mat-form-field>
          </div>


          <!-- <div class="booking-summary-bar bg-white text-dark rounded-3 p-3">
              <h4 class="m-0 pb-1 font-weight-bold">Booking Summary</h4>
              <span>Pre-fabricated Cottage</span>
              <div class="d-flex justify-content-between pt-1">
                <span><strong>Bear</strong></span>
                <span><i class="fa fa-trash"></i></span>
              </div>
              <div class="d-flex justify-content-between pt-1">

                <span><strong>Total room charges</strong></span><br><br>
                <span>INR 2500.00</span>
              </div>
              <div class="d-flex justify-content-between pb-2">
                <span>
                  <mat-form-field appearance="outline" class="mat-small">
                    <mat-label>No. of. Guests</mat-label>
                    <mat-select required [(ngModel)]="selected" >
                    <mat-option value="one">1</mat-option>
                    <mat-option value="two">2</mat-option>
                    <mat-option value="three">3</mat-option>

                    </mat-select> 
                    <mat-hint>Adults/Child over 5 yrs</mat-hint>
                  </mat-form-field>
                  
                </span>
              </div>
            </div> -->

          <!-- Booking Summary section -->

          <div *ngIf="!isMobile" class="booking-summary-bar bg-white text-dark rounded-3 p-3 ">
            <h4 class="m-0 pb-1 font-weight-bold">Booking Summary</h4>
            <div class="border-top py-2 " *ngIf="showBookingSummary; else noBookings">
              <!-- <h5 class="text-primary-dark pb-1 m-0"><strong class="me-2">Hill Top Guest House</strong></h5> -->
              <div class="pt-2" *ngFor="let roomId of roomIds">
                <a href="javascript:void(0)" class="float-end" (click)="removeRoom(roomId, roomId.id)"><i
                    class="fa fa-trash"></i></a>
                <div>
                  <strong class="me-2">Room Name: {{ roomId.name }}</strong>
                </div>

                <small>
                  <!-- {{ roomId.noof_adult }} Guest{{ roomId.noof_adult>1?'s':'' }}
                      {{ roomId.noof_guest>0?', '+roomId.noof_guest+' Extra Guest'+(roomId.noof_guest>1?'s':''):'' }} -->
                  Room Tariff: <span class="float-end pb-4 m-0">{{
                    roomId.week_day_rate | currency:'INR
                    ':'symbol':'1.2-2' }}</span>
                </small>

                <div class="custom-dropdown">
                  <span>
                    <mat-form-field appearance="outline" class="mat-small">
                      <mat-label>No. of. Guests</mat-label>
                      <mat-select required [(ngModel)]="roomId.id" size="small">
                        <mat-option value="one">1</mat-option>
                        <mat-option value="two">2</mat-option>
                      </mat-select>
                      <mat-hint class="px-0">Adults/Child over 5 yrs</mat-hint>

                    </mat-form-field>
                  </span>
                  <!-- <mat-checkbox [ngModel]="myModel" class="example-margin" color="primary"
                    (ngModelChange)="extraGuest($event)"><label>Add an extra guest </label></mat-checkbox>
                  <div *ngIf="isAddedExtraGuest" class="pt-3"> <strong>INR 500 </strong><small>+ GST @ 12% will be
                      charged</small>


                  </div> -->
                  <label for="checkextraguest{{roomId.id}}"><input type="checkbox" #checkextraguest
                      id="checkextraguest{{roomId.id}}" [id]="'checkextraguest' + roomId.id"
                      (change)="checkExtraGuest(roomId, roomId.id, checkextraguest)" [(ngModel)]="roomId.noof_guest">
                    Check any extra guest</label> &nbsp;
                  <div *ngIf="isAddedExtraGuest" class="pt-3"> <strong>INR 500 </strong><small>+ GST @ 12% will be
                      charged</small>
                  </div>


                  <!-- <input type="number" value="{{roomId.noof_guest}}" min="1" max="{{roomId.max_guest}}"
                    #checkextraguestcount id="checkextraguestcount{{roomId.id}}" class="w-auto text-center"
                    [id]="'checkextraguestcount' + roomId.id"
                    (change)="checkExtraGuest(roomId, roomId.id, checkextraguestcount)"
                    *ngIf="roomId.noof_guest>0&&roomId.max_guest>1"> -->
                </div>
              </div>
            </div>
            <hr />
            <ng-container *ngIf="showBookingSummary">
              <div class="d-flex justify-content-between pt-1">
                <span>Room charges</span>
                <span>{{ getRoomCharges() | currency:'INR ':'symbol':'1.2-2' }}</span>
              </div>
              <div class="d-flex justify-content-between pt-1" *ngIf="isAddedExtraGuest || isAnyRoomChecked()">
                <span>Extra guest</span>
                <span>{{ calculateExtraGuestCharges() | currency:'INR ':'symbol':'1.2-2' }}</span>
              </div>

              <div class="d-flex justify-content-between font-weight-bold py-1">
                <span class="mb-0">Total</span>
                <span>{{ calculateTotalPrice() | currency:'INR ':'symbol':'1.2-2' }}</span>
              </div>
              <div class="d-flex justify-content-between font-weight-bold py-1">
                <span class="mb-0">GST @ 12%</span>
                <span>{{ calculateTotalGst() | currency:'INR ':'symbol':'1.2-2' }}</span>
              </div>
              <div
                class="d-flex justify-content-between border-top border-bottom border-primary py-2 font-weight-bold text-secondary h5">
                <span class="mb-0">Grand Total</span>
                <span>{{ calculatePayablePrice() | currency:'INR ':'symbol':'1.2-2' }}</span>
              </div>
            </ng-container>
            <button mat-raised-button color="primary" class="w-100 mt-3" (click)="goToBooking()"
              *ngIf="showBookingSummary">
              Proceed
            </button>
          </div>
          <mat-accordion *ngIf="isMobile">
            <div class=" " [ngClass]="(isMobile == false) ? 'position-sticky' : 'position-sticky-for-mobile'">
              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <div class="booking-summary-bar bg-white text-dark rounded-3 p-3 ">
                      <h4 class="m-0 pb-1 font-weight-bold">Booking Summary</h4>
                    </div>
                  </mat-panel-title>

                </mat-expansion-panel-header>
                <div [ngClass]="{'accordion-body': showBookingSummary}">
                  <div class="border-top py-2 " *ngIf="showBookingSummary; else noBookings">
                    <!-- <h5 class="text-primary-dark pb-1 m-0"><strong class="me-2">Hill Top Guest House</strong></h5> -->
                    <div class="pt-2" *ngFor="let roomId of roomIds">
                      <a href="javascript:void(0)" class="float-end" (click)="removeRoom(roomId, roomId.id)"><i
                          class="fa fa-trash"></i></a>
                      <div>
                        <strong class="me-2">Room Name: {{ roomId.name }}</strong>
                      </div>

                      <small>
                        <!-- {{ roomId.noof_adult }} Guest{{ roomId.noof_adult>1?'s':'' }}
                            {{ roomId.noof_guest>0?', '+roomId.noof_guest+' Extra Guest'+(roomId.noof_guest>1?'s':''):'' }} -->
                        Room Tariff: <span class="float-end pb-4 m-0">{{
                          roomId.week_day_rate | currency:'INR
                          ':'symbol':'1.2-2' }}</span>
                      </small>

                      <div class="custom-dropdown">
                        <span>
                          <mat-form-field appearance="outline" class="mat-small">
                            <mat-label>No. of. Guests</mat-label>
                            <mat-select required [(ngModel)]="roomId.id" size="small">
                              <mat-option value="one">1</mat-option>
                              <mat-option value="two">2</mat-option>
                            </mat-select>
                            <mat-hint class="px-0">Adults/Child over 5 yrs</mat-hint>

                          </mat-form-field>
                        </span>
                        <!-- <mat-checkbox [ngModel]="myModel" class="example-margin" color="primary"
                          (ngModelChange)="extraGuest($event)"><label>Add an extra guest </label></mat-checkbox>
                        <div *ngIf="isAddedExtraGuest" class="pt-3"> <strong>INR 500 </strong><small>+ GST @ 12% will be
                            charged</small>
      
      
                        </div> -->
                        <label for="checkextraguest{{roomId.id}}"><input type="checkbox" #checkextraguest
                            id="checkextraguest{{roomId.id}}" [id]="'checkextraguest' + roomId.id"
                            (change)="checkExtraGuest(roomId, roomId.id, checkextraguest)"
                            [(ngModel)]="roomId.noof_guest">
                          Check any extra guest</label> &nbsp;
                        <div *ngIf="isAddedExtraGuest" class="pt-3"> <strong>INR 500 </strong><small>+ GST @ 12% will be
                            charged</small>
                        </div>


                        <!-- <input type="number" value="{{roomId.noof_guest}}" min="1" max="{{roomId.max_guest}}"
                          #checkextraguestcount id="checkextraguestcount{{roomId.id}}" class="w-auto text-center"
                          [id]="'checkextraguestcount' + roomId.id"
                          (change)="checkExtraGuest(roomId, roomId.id, checkextraguestcount)"
                          *ngIf="roomId.noof_guest>0&&roomId.max_guest>1"> -->
                      </div>
                    </div>
                  </div>
                  <hr />
                  <ng-container *ngIf="showBookingSummary">
                    <div class="d-flex justify-content-between pt-1">
                      <mat-form-field appearance="outline" class="mat-small">
                            <mat-label>No. of. Guests</mat-label>
                            <mat-select required [(ngModel)]="roomId.id" size="small">
                              <mat-option value="one">1</mat-option>
                              <mat-option value="two">2</mat-option>
                            </mat-select>
                            <mat-hint class="px-0">(Children upto 5 years)</mat-hint>
                      </mat-form-field>
                    </div>
                    <div class="d-flex justify-content-between pt-1">
                      <span>Room charges</span>
                      <span>{{ getRoomCharges() | currency:'INR ':'symbol':'1.2-2' }}</span>
                    </div>
                    <div class="d-flex justify-content-between pt-1" *ngIf="isAddedExtraGuest">
                      <span>Extra guest</span>
                      <span>{{ calculateExtraGuestCharges() | currency:'INR ':'symbol':'1.2-2' }}</span>
                    </div>

                    <div class="d-flex justify-content-between font-weight-bold py-1">
                      <span class="mb-0">Total</span>
                      <span>{{ calculateTotalPrice() | currency:'INR ':'symbol':'1.2-2' }}</span>
                    </div>
                    <div class="d-flex justify-content-between font-weight-bold py-1">
                      <span class="mb-0">GST @ 12%</span>
                      <span>{{ calculateTotalGst() | currency:'INR ':'symbol':'1.2-2' }}</span>
                    </div>
                    <div
                      class="d-flex justify-content-between border-top border-bottom border-primary py-2 font-weight-bold text-secondary h5">
                      <span class="mb-0">Grand Total</span>
                      <span>{{ calculatePayablePrice() | currency:'INR ':'symbol':'1.2-2' }}</span>
                    </div>
                  </ng-container>
                  <button mat-raised-button color="primary" class="w-100 mt-3" (click)="goToBooking()"
                    *ngIf="showBookingSummary">
                    Proceed
                  </button>
                </div>
              </mat-expansion-panel>
            </div>
          </mat-accordion>
          <ng-template #noBookings>
            <!-- <div class="text-center mt-3">
                <p>No Bookings Available. Please Add Rooms.</p>
              </div> -->
            <!-- <h5 class="text-center"><u>Booking Summary</u></h5> -->
            <div class="d-flex my-2 p-3 align-items-center justify-content-around">
              <i class="fa fa-plus" aria-hidden="true"></i>
              <p class="m-0">Add your preferred rooms</p>
            </div>
          </ng-template>
          <!-- </section> -->
        </aside>
        <main class="rooms-listing col-md-9">
          <ng-template #loading>
            <div class="text-center">
              <!-- Increase size using Bootstrap utility classes -->
              <div class="spinner-border text-primary" role="status" style="width: 4rem; height: 4rem;">
                <span class="visually-hidden">Loading...</span>
              </div>
              <p>Loading rooms...</p>
            </div>
          </ng-template>

          <!-- <div class="card1 mb-3 p-1">
            <div class="row g-0 d-flex ">
              <div class="col-md-4">
                <img src="/assets/img/jungle.jpeg" alt="resort image">
              </div>
              <div class="col-md-2 col-6 pt-3 p-3">
                <h6><span>Room name:</span></h6>
                <h6><span>Cottage type:</span><br></h6>
              </div>
              <div class="col-md-3 col-6 pt-2">
                <span>Bonnet</span><br>
                <span>Hill top guest house</span><br><br>
                
                <span>
                  <mat-form-field appearance="outline">
                    <mat-label>Guests</mat-label>
                    <mat-select required [(ngModel)]="selected" >
                    <mat-option value="one">1</mat-option>
                    <mat-option value="two">2</mat-option>
                    </mat-select> 
                    <mat-hint>2 guests max, including children.</mat-hint>
                  </mat-form-field>
                  </span><br><br>
                
                <span><mat-checkbox [(ngModel)]="isChecked">Extra adult/child over 5 yrs</mat-checkbox></span>
                

              </div>
              <div class="col-md-3 col-12 text-center text-md-end">
                <br><br><br>
                <b><span>INR 2,500.00 + gst @ 12%</span><br></b>
                <small>all<span>(for 2 guests)</span><br></small><br><br>
                <b><span>INR 500.00 + gst @ 12%</span><br></b>
                <small><span>(for 1 Extra Bed)</span><br></small><br>
                <span><button class="btn btn-primary">
                  Add room
                </button></span>
              </div>

            </div>
          </div> -->

          <div *ngIf="!loadingRooms; else loading">
            <div class="card mb-3 p-1" *ngFor="let room of roomCards">
              <div class="row g-0 d-flex ">
                <div class="col-md-3 p-2">
                  <img [src]="room.image" alt="Resort Room image">
                </div>
                <div class="col-md-9 p-3 ps-0 row m-0">
                  <div class="col-md-8">
                    <h3>{{ room.name }}</h3>
                    <h6>{{ room.cottage_type }}, {{ room.resort }}</h6>
                    <!-- {{ room.max_adult }} Guest{{ room.max_adult>1?'s':'' }}
                      {{ room.max_guest?', '+room.max_guest:'' }}        -->
                    <!-- +' Extra Guest'+(room.max_guest>1?'s':'') -->
                    <!-- <select name="" class="form-select w-25" id="">
                        <option value="">1</option>
                        <option value="">2</option>
                      </select> -->
                    <!-- <mat-form-field>
                        <mat-label>Guests</mat-label>
                        <select matNativeControl required [formControl]="selected">
                          <option value="one">1</option>
                          <option value="two">2</option>
                        </select>
                        <mat-hint>2 guests max, including children.</mat-hint>
                      </mat-form-field>
                      <mat-checkbox [(ngModel)]="isChecked">Extra adult/child over 5</mat-checkbox> -->
                  </div>
                  <div class="col-md-4 text-end">
                    <h6 class="p-0 m-0"><strong>{{ room.week_day_rate | currency: 'INR ': true: '1.2-2' }} </strong>
                    </h6>

                    <small>(For 2 guests)</small><br>
                    <h6 class="p-0 m-0"><strong>{{ 500 | currency: 'INR ': true: '1.2-2' }} </strong>
                    </h6>
                    <small>(For extra guests)</small><br>
                    <small>+GST @ 12%</small>
                    <!-- <div><strong>{{ room.week_day_bed_charge | currency: 'INR ': true: '1.2-2' }}</strong></div>
                    <small>+ gst @ 12%</small><br>
                    <small>(for 1 Extra Bed)</small> -->
                  </div>
                  <div class="col-md-12">
                    <button class="btn btn-primary w-25 float-end" (click)="addRoom(room)"
                      [disabled]="room.is_button_disabled">
                      Add room
                    </button>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>

</app-layout>