 <app-layout>
        <div class="main">
            <section class="page-banner d-grid place-items-center">
                <h1 class="display-3 text-center">Awards</h1>
            </section>
            <section class="my-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <ul class="list-unstyled">
                                <li class="mb-3">
                                    <p><strong>Eco-Friendly Tourism Achievement:</strong></p>
                                    <p>In 2010, the Chairperson and Vice Chairperson of CBET were honored with the Eco-Friendly Tourism Award by the former esteemed Chief Minister of Andhra Pradesh, recognizing their commitment to sustainable tourism practices.</p>
                                    <img src="assets\img\Awards and news.jpg" alt="Eco-Friendly Tourism Award Image">
                                </li>
                                <li class="mb-3">
                                    <p><strong>National Recognition:</strong></p>
                                    <p>At the Second National Level Convention on "Sustainable Action and Network through Community Leaders Programme" (SANCALP), hosted by the Indian Institute of Bio-Social Research and Development (IBRAD) in Calcutta in 2010-11, the CBET Coordinator was acknowledged with a certificate of appreciation.</p>
                                    <img src="assets\img\AWARDS AND NEWS (1).jpg" alt="Eco-Friendly Tourism Award Image">
                                </li>
                                <li class="mb-3">
                                    <p><strong>International Recognition Efforts:</strong></p>
                                    <p>CBET, Maredumilli, has submitted proposals to the prestigious PATA (Pacific Asia Travel Association) international award, endorsed by the Department of Tourism, Government of Andhra Pradesh, as a commendation of its outstanding contributions to the tourism sector.</p>
                                    <img src="assets\img\AWARDS AND NEWS (2).jpg" alt="Eco-Friendly Tourism Award Image">
                            </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </app-layout>