<section class="search-rooms">
  <form #searchForm="ngForm">
    <div class="row align-items-top justify-content-center gap-3 gap-lg-0">
      <div class="col-lg-3">
        <mat-form-field appearance="outline">
          <mat-label>Select Resort</mat-label>
          <mat-select required [(ngModel)]="selectedResort" name="SelectResort" [(value)]="selectedResort">
            <mat-option value="vanavihari">Vanavihari, Maredumilli</mat-option>
            <mat-option value="jungle-star">Jungle Star, Valamuru</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-3">
        <mat-form-field appearance="outline">
          <mat-label>Checkin & Checkout</mat-label>
          <mat-date-range-input [rangePicker]="picker" (click)="picker.open()">
            <input matStartDate  placeholder="Checkin date" name="CheckinDate"  (dateChange)="checkinDate = formatDate($event.value);; checkIfCheckinDateIsCurrentDate()" />
            <input matEndDate  placeholder="Checkout date" name="CheckOutDate"  (dateChange)="checkoutDate = formatDate($event.value)" />
            
          </mat-date-range-input>
          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        
      </div>
      
      <div class="col-lg-3">
        <!-- <button mat-raised-button color="primary" (click)="goToSignin()" class="w-100 mt-1">Sign In</button> -->

        <button mat-raised-button color="primary" class="w-100" [disabled]="searchForm.invalid" (click)="submitSearch()">
          Search
        </button>
       
      </div>
    </div>
  </form>
</section>