<p>tourist-places works!</p>
<app-layout>
    <div class="main">
        <br><br>
        <div class="container-fluid mt-5">
            <div class="row justify-content-center">
              <h1 class="custom-heading">NEARBY TOURIST ATTRACTIONS</h1>

              <div class="col-12 col-md-10 col-lg-8">
                <div class="card mb-4 custom-card">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="assets/img/amruthadhara.jpg" class="img-fluid rounded-start" alt="Amruthadhara image">
                    </div>
                    <div class="col-md-4">
                      <div class="card-body">
                        <h5 class="card-title">Amruthadhara Falls</h5>
                        <p class="card-text">Amruthadhara Falls is a seasonal waterfall located in the East Godavari district of Andhra Pradesh, India. It is a popular destination for nature lovers, especially during the monsoon season when the falls are at their most spectacular. The falls are formed by the confluence of two streams, the Varaha and the Penna. They cascade down a series of rocky cliffs, creating a mesmerizing sight. The falls are surrounded by lush greenery, making for a truly picturesque setting.</p>
                      </div>
                    </div>
                  
                    <div class="col-md-4 mt-3 mt-md-0">
                        <h2 class="mb-3 text-center">How to reach?</h2>
                        <address>
                          <i class="fa-solid fa-location-dot"></i>
                          SH 41, Andhra Pradesh 533295
                        </address>
                        <div class="map-container">
                          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3802.235179664225!2d81.60770107912109!3d17.639016940210375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a3725d190325c67%3A0x48ed1479e1ced87b!2sAMRUTHADHARA%20WATER%20FALL!5e0!3m2!1sen!2sin!4v1712058804622!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                        <div class="table-responsive">
                          <table class="table table-hover">
                            <thead>
                              <tr>
                                <th scope="col">From</th>
                                <th scope="col">Distance</th>
                                <th scope="col">Travel Time</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td><i class="fa-solid fa-train me-2"></i>Vanavihari</td>
                                <td>15 km</td>
                                <td>26 minutes</td>
                              </tr>
                              <tr>
                                <td><i class="fa-solid fa-plane-arrival me-2"></i>Jungle Star</td>
                                <td>5.3 km</td>
                                <td>10 minutes</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                    </div>
                  
                  </div>
                </div>
              
              
                <div class="card mb-4 custom-card">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="assets/img/Rampa-falls.jpg" class="img-fluid rounded-start" alt="Rampa falls">
                    </div>
                  
                    <div class="col-md-4">
                      <div class="card-body">
                        <h5 class="card-title">Rampa Falls</h5>
                        <p class="card-text">In the semi-evergreen forests of the Agency track in East Godavari District, numerous picturesque spots and perennial waterfalls grace the landscape. Among them is Rampa V.S.S, surrounded by high forests showcasing Neelakanteswara and Rampa waterfalls. Sri Neelakanteswara Vana Vihara Sthali is located approximately 4 km from the village of Rampachodavaram in East Godavari District.
                        </p>
                      </div>
                    </div>
                    
                      <div class="col-md-4 mt-3 mt-md-0">
                        <h2 class="mb-3 text-center">How to reach?</h2>
                        <address>
                          <i class="fa-solid fa-location-dot"></i>
                          FQ8P+X9R, Peddakonda, Andhra Pradesh 533288
                        </address>
                        <div class="map-container">
                          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3805.837475644368!2d81.78332757501201!3d17.467491283433425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a3715dbbbe40db1%3A0x5bce9a9cbde90678!2sRampa%20Water%20Falls!5e0!3m2!1sen!2sin!4v1712058658299!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                        <div class="table-responsive">
                          <table class="table table-hover">
                            <thead>
                              <tr>
                                <th scope="col">From</th>
                                <th scope="col">Distance</th>
                                <th scope="col">Travel Time</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td><i class="fa-solid fa-train me-2"></i>Vanavihari</td>
                                <td>29 km</td>
                                <td>47 minutes</td>
                              </tr>
                              <tr>
                                <td><i class="fa-solid fa-plane-arrival me-2"></i>Jungle Star</td>
                                <td>39 km</td>
                                <td>1 hour</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="card mb-4 custom-card">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="assets/img/MAREDUMILLI-waterfalls.jpg" class="img-fluid rounded-start" alt="Maredumilli falls">
                      </div>
                      <div class="col-md-4">
                        <div class="card-body">
                          <h5 class="card-title">Maredumilli Falls</h5>
                          <p class="card-text">Maredumilli is a town in the East Godavari district of Andhra Pradesh, India. It is known for its waterfalls, which are a popular tourist destination. The most famous waterfalls in Maredumilli are the Rajatarangini Falls, the Amruthadhara Falls, and the Rampa Falls</p>
                          </div>
                      </div>
                      
                      <div class="col-md-4 mt-3 mt-md-0">
                        <h2 class="mb-3 text-center">How to reach?</h2>
                        <address>
                          <i class="fa-solid fa-location-dot"></i>
                          HPX7+8CM, Rajahmundry - Bhadrachalam Hwy, Maredumilli, Andhra Pradesh 533295
                          
                        </address>
                        <div class="map-container">
                          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3803.0926350465866!2d81.71097257501512!3d17.59833548332523!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a373b6778f7243b%3A0xe93daabd3f7d567d!2sMaredumilli%20Water%20Falls!5e0!3m2!1sen!2sin!4v1712127841683!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                        <div class="table-responsive">
                          <table class="table table-hover">
                            <thead>
                              <tr>
                                <th scope="col">From</th>
                                <th scope="col">Distance</th>
                                <th scope="col">Travel Time</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td><i class="fa-solid fa-train me-2"></i>Vanavihari</td>
                                <td>280 m</td>
                                <td>1 minute</td>
                              </tr>
                              <tr>
                                <td><i class="fa-solid fa-plane-arrival me-2"></i>Jungle Star</td>
                                <td>9.8 km</td>
                                <td>17 minutes</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                    </div>
                    </div>
                  </div>
                

                
              </div>
            </div>
          </div>
    </div>
</app-layout>