.custom-heading {
    text-align: center;
  }

  .custom-card {
    width: 100%;
    max-width: 1200px; /* Set a maximum width for the card */
    margin: 0 auto; /* Center the card horizontally */
  }